.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 16px;
    font-size: 14px;
    color: #91A0B6;
    margin: 40px auto;
    column-gap: 100px;
}

.terms {
    display: flex;
    flex-direction: row;
}

.terms > *:not(:last-child)::after {
    content: "|";
    margin: 0 24px 0 24px;
}

/* Mobile styles */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        width: 98vw;
        padding: 8px;
        font-size: 12px;
        column-gap: 0;
        align-items: center;
    }
    .terms {
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
    }
    .terms > *:not(:last-child)::after {
        margin: 0 8px 0 8px;
    }
}