.post {
    display: flex;
    flex-direction: column;
    width: 337px;
    /* height: 404px; */
}
.post img {
    width: 337px;
    height: 240px;
    
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

.post-meta {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin: 12px 0;
    color: #ADB8C8;
    font-size: 16px;
}

.post-date::after {
    content: '·';
}

.post-title {
    font-size: 24px;
    margin: 0;
}

.post-excerpt {
    font-size: 16px;
    color: #78787A;
}